.ngo-name{

    font-weight: bolder;
    font-style: oblique;
    font-size: xx-large;

}

.ngo-desc{

    font-weight:normal;
    font-style:normal;
    font-size: small;
}


.ngo-category{

    font-weight:bold;
    font-style:normal;
    font-size: larger;
    color: brown;
}


